#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 420px;
}

.card-body {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  padding-bottom: 5px;
}

.card-footer {
  margin-top: 5px;
}

.warning {
  color: red;
}

.numeric-input {
  width: 100%;
  padding: 5px 7px;
  outline: none;
  box-sizing: border-box;
  border: 1px solid rgba(128, 128, 128, 0.7);
  border-radius: 4px;
}

.numeric-input:focus {
  border: 1px solid rgba(30, 144, 255, 0.7);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.btn {
  padding: 5px 7px;
  border: none;
  width: 100%;
  font-size: 0.85rem;
  font-weight: 400;
  border-radius: 4px;
}

.btn-primary {
  background-color: #1e90ff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0080ff;
}

.btn-danger {
  background-color: #d32f2f;
  color: #fff;
}

.btn-danger:hover {
  background-color: #bd2828;
}

.btn-primary-ghost {
  background-color: #fff;
  color: #1e90ff;
  border: 1px solid #1e90ff;
}

.btn-danger-ghost {
  background-color: #fff;
  color: #d32f2f;
  border: 1px solid #d32f2f;
}

.btn-primary-ghost:hover {
  color: #0066cc;
  border-color: #0066cc;
  cursor: pointer;
}

.btn-danger-ghost:hover {
  color: #a82424;
  border-color: #a82424;
  cursor: pointer;
}

.d-flex-spc-even {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.history-list {
  list-style: none;
  margin: 0;
  text-align: left;
}
